<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sketchapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SketchApp"
        tools:ignore="AllowBackup">
        <activity
            android:name=".UI.InfoScreen"
            android:exported="false" />
        <activity
            android:name=".UI.GalleryScreen"
            android:exported="false" />
        <activity
            android:name=".UI.SketchScreen"
            android:exported="false" />
        <activity
            android:name=".UI.MainMenu"
            android:exported="false" />
        <activity
            android:name=".UI.WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>